doctype html
html(lang='en' xmlns='http://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='x-apple-disable-message-reformatting')
    title #{process.env.BRAND_NAME}
    style.
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
      body{
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px
      }
      .main_tx h1{font-size: 52px;
      font-weight: 500;}
      .main_tx h2{font-size: 17px;
      line-height: 25px;
      font-weight: 500;}
      .main_tx h4{font-size:11px;padding: 15px 0;
      font-weight: 500;color: #38383D}
      .table_bdr{background: #F6F6FA;height: 10px;}
      .footer_icon a img{padding: 0 10px 0 0}
      .right_bdr{border-right: 1px solid #C4CDDB;}
      .table_custom{border:1px solid #C4CDDB;padding: 15px}
      .align_left{padding: 0 0 0 58px}
      .bttm{border-bottom: 1px solid #C4CDDB;
      padding: 39px 0;}
      .lft_tx img{float: left;
      padding: 0 18px 0 0;}
      .left_35{padding: 0 0 0 35px}
      .ft_padd{padding:0 0 25px}
      .table_head{font-size: 24px;color: #38383D;font-weight: 500}
      .table_detail{font-size: 16px;
      color: #38383D;}
      .sub_total{font-size: 24px;line-height: 40px}
      @media only screen and (max-width: 414px) {
      .main_tx h1{font-size:40px;
      font-weight: 500;}
      .main_tx h2{font-size: 17px;
      line-height: 25px;
      font-weight: 500;}
      .table_head {
      font-size: 18px;
      color: #38383D;
      }
      .table_detail {
      font-size: 14px;}
      .table_detail {
      font-size: 16px;}
      .sub_total {font-size: 20px;}
      }
  body(width='100%' style='margin: 0; padding: 0 !important;')
    table(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' width='600' style='padding: 15px;margin:4rem auto 0;')
      tbody
        tr
          td
            table(align='left' role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
              tbody
                tr
                  td.logo
                    img(src= process.env.WEB_URL + '/images/logo.png')
                tr
                  td.main_tx
                    h1 Thanks for your order
                tr
                  td.main_tx
                    h2 You’ll Receive An Email When your order Shipped. If You Have Any Question Call Us
            table.table_custom(width='100%' cellspacing='0' cellpadding='0' border='0')
              tbody
                tr
                  td.right_bdr(align='left' width='50%')
                    p.table_head Summary
                    p.table_detail
                      | Order #: 
                      span #{order.id}
                    p.table_detail
                      | Order Date: 
                      span #{date}
                    p.table_detail
                      | Order Total: 
                      span #{new Intl.NumberFormat('en-IN', { style: "currency", currency: order.currencyCode }).format(order.total * order.currencyValue).replace("THB", "฿")}
                  td.align_left(valign='top' width='50%')
                    p.table_head Shipping Address
                    p.table_detail #{order.completeAddress}
            table.bttm(width='100%' cellspacing='0' cellpadding='0' border='0')
              tbody
                tr
                  td.table_detail(width='50%') Product
                  td.table_detail(width='25%') Qty
                  td.table_detail(width='25%') Price
            
            each product in order.products
              table.bttm(width='100%' cellspacing='0' cellpadding='0' border='0')
                tbody
                  tr
                    td.lft_tx.table_detail(width='50%' valign='top')
                      img(src=product.featuredImage.miniThumbnailUrl)
                      span(valign='top') #{product.title}
                    td.table_detail(width='25%' valign='top') #{product.ordersProducts.quantity}
                    td.table_detail(width='25%' valign='top') #{new Intl.NumberFormat('en-IN', { style: "currency", currency: order.currencyCode }).format(product.ordersProducts.salePrice ? ((product.ordersProducts.salePrice * product.ordersProducts.quantity ) * order.currencyValue) : ((product.ordersProducts.ragularPrice * product.ordersProducts.quantity ) * order.currencyValue) ).replace("THB", "฿")}
            
            table.bttm(width='100%' cellspacing='0' cellpadding='0' border='0')
              tbody
                tr
                  td.sub_total(width='75%' align='right') Subtotal
                  td.left_35.sub_total(width='25%') #{new Intl.NumberFormat('en-IN', { style: "currency", currency: order.currencyCode }).format(order.orderValue * order.currencyValue).replace("THB", "฿")}
                tr
                  td.sub_total(width='75%' align='right') Shipping
                  td.left_35.sub_total(width='25%') #{!order.shippingCharges ? "Free" : new Intl.NumberFormat('en-IN', { style: "currency", currency: order.currencyCode }).format(order.shippingCharges * order.currencyValue).replace("THB", "฿")}
                tr
                  td.sub_total(width='75%' align='right') Discount
                  td.left_35.sub_total(width='25%') #{new Intl.NumberFormat('en-IN', { style: "currency", currency: order.currencyCode }).format(order.discount * order.currencyValue).replace("THB", "฿")}
                tr
                  td.sub_total(width='75%' align='right') Order total
                  td.left_35.sub_total(width='25%') #{new Intl.NumberFormat('en-IN', { style: "currency", currency: order.currencyCode }).format(order.total * order.currencyValue).replace("THB", "฿")}
            table(width='100%' cellspacing='0' cellpadding='0' border='0')
              tbody
                tr
                  td.table_bdr
            table(width='100%' cellspacing='0' cellpadding='0' border='0')
              tbody
                tr
                  td.main_tx
                    h4 Follow Us On Social Media
            table.ft_padd(width='100%' cellspacing='0' cellpadding='0' border='0')
              tbody
                tr
                  td.footer_icon(width='50%')
                    a(href='#')
                      img(src= process.env.WEB_URL + '/images/facebook.png')
                    a(href='#')
                      img(src= process.env.WEB_URL + '/images/instagram.png')
                    a(href='#')
                      img(src= process.env.WEB_URL + '/images/twiter.png')
                    a(href='#')
                      img(src= process.env.WEB_URL + '/images/whatsapp.png')
                    a(href='#')
                      img(src= process.env.WEB_URL + '/images/youtube.png')
                  td(width='50%' align='right')
                    img(src= process.env.WEB_URL + '/images/logo.png')
